body{
		
}

.name {
	text-align: center;
}

.profile {
	display: block;
	margin-right: auto;
	margin-left: auto;
}


.aboutme {
	padding: 60px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  /*color: inherit;*/
  background-color: #3498DB;
}

h1 {
	color:white;
	font-size:60px;
}